<%= form_for([@marca, @articulo]) do |f| %>
  <% if @articulo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@articulo.errors.count, "error") %> prohibited this articulo from being saved:</h2>

      <ul>
      <% @articulo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_articulo %><br>
    <%= f.text_field :nombre_articulo %>
  </div>
  <div class="field">
    <%= f.label :cantidad_articulo %><br>
    <%= f.number_field :cantidad_articulo %>
  </div>
  <div class="field">
    <%= f.label :valor_articulo %><br>
    <%= f.number_field :valor_articulo %>
  </div>
  <div class="field">
    <%= f.label :talla_articulo %><br>
    <%= f.text_field :talla_articulo %>
  </div>
  <div class="field">
    <%= f.label :marca_id %><br>
    <%= f.text_field :marca_id %>
  </div>
  <div class="field">
    <%= f.label :caja_id %><br>
    <%= f.text_field :caja_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
