<h1>Listing articulos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre articulo</th>
      <th>Marca</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articulos.each do |articulo| %>
      <tr>
        <td><%= articulo.nombre_articulo %></td>
        
        <td><%= link_to 'VER REFERENCIAS DE BUSOS', articulo_referencia_articulos_path(articulo) %></td>
        <td><%= link_to 'Edit', edit_marca_articulo_path(@marca, articulo) %></td>
        <td><%= link_to 'Destroy', marca_articulo_path(@marca, articulo), :method => :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Articulo', new_marca_articulo_path%>
<%= link_to "Devolverse a Marcas", usuario_marcas_path(@usuario_actual)%>
