<div class="well">
	<div align="center">
	
	<%= link_to('administrador_marcas_path', title: 'Alpinestars', 
            rel: 'tooltip', relative: true) do %>
  		<%= image_tag('alpinestars.jpg', width: '200', height: '150', 
        alt: 'Ver articulos de Alpinestars') %>
	<% end %>

	<%= link_to('administrador_marcas_path', title: 'AGV', 
            rel: 'tooltip', relative: true) do %>
  		<%= image_tag('AGV.JPG', width: '250', height: '150', 
        alt: 'Ver articulos de AGV') %>
	<% end %>

	<%= link_to('administrador_marcas_path', title: 'Dainese', 
            rel: 'tooltip', relative: true) do %>
  		<%= image_tag('Dainese.jpg', width: '200', height: '100', 
        alt: 'Ver articulos de Dainese') %>
	<% end %>

	</div>
	<div align="center">
	

	<%= link_to('administrador_marcas_path', title: 'Fox', 
            rel: 'tooltip', relative: true) do %>
  		<%= image_tag('Fox.JPG', width: '200', height: '150', 
        alt: 'Ver articulos de Fox') %>
	<% end %>

	<%= link_to('administrador_marcas_path', title: 'Icon', 
            rel: 'tooltip', relative: true) do %>
  		<%= image_tag('Icon.jpg', width: '200', height: '150', 
        alt: 'Ver articulos de Icon') %>
	<% end %>

	<%= link_to('administrador_marcas_path', title: 'SpeedAndStrenght', 
            rel: 'tooltip', relative: true) do %>
  		<%= image_tag('speedandstrenght.jpg', width: '200', height: '150', 
        alt: 'Ver articulos de Speed And Strenght') %>
	<% end %>

	</div>

	<div align="center">
	
		<%= link_to('administrador_marcas_path', title: 'Thor', 
            rel: 'tooltip', relative: true) do %>
  		<%= image_tag('thor.jpg', width: '200', height: '150', 
        alt: 'Ver articulos de thor') %>
	<% end %>


	</div>

</div>





<%=link_to "cerrarsesion", iniciarsesion_path%>