<h1>Usuarios</h1>



<div class="well">
	<div class="Sign_Form">
    	<%=form_for([:administrador, @usuario]) do |f|%>
        	<div class="form-group">
            	<label for="Usuario">

                	Usuario

            	</label>      
     			<%=f.text_field :nombre_usuario, class: 'form-control' %>
        	</div>
        	<div class="form-group">
            	<label for="contra">

                	Contrasena

            	</label>
            	<%=f.password_field :password, class: 'form-control'%>
        	</div>
        	<div class="form-group">
            	<label for="confirmacion_contrasena">

                	Confirmar Contrasena

            	</label>
            	<%=f.password_field :confirmacion_contrasena, class: 'form-control'%>
        	</div>
			<div class="form-group">
            	<label for="Nombre_usuario">

                	Nombres del usuario

            	</label>      
     			<%=f.text_field :nombre, class: 'form-control' %>
        	</div>      
        <div class="form-group">
            <label for="Apellido_usuario">

                Apellidos del usuario

            </label>      
     		<%=f.text_field :apellido, class: 'form-control' %>
        </div>  
           
        </div>
        
        	<%=f.submit  "Crear o Actualizar", class: 'btn btn-default btn-primary'%>

        
    <%end%>
    <%=link_to'Consulta general', administrador_usuarios_path, class: 'btn btn-warning'%>
    </div>
</div>


