<%= form_for([@articulo, @referencia_articulo]) do |f| %>
  <% if @referencia_articulo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@referencia_articulo.errors.count, "error") %> prohibited this referencia_articulo from being saved:</h2>

      <ul>
      <% @referencia_articulo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_referencia %><br>
    <%= f.text_field :nombre_referencia %>
  </div>

  <div class="field">
    <%= f.label :valor %><br>
    <%= f.number_field :valor %>
  </div>

  <div class="">
    <%= f.fields_for :tallas, @referencia_articulo.tallas.empty?? @referencia_articulo.tallas.build: @referencia_articulo.tallas do |talla| %>
      <%= talla.select :talla_referencia, options_for_select(tallas, talla.object.talla_referencia) %>
    <% end %>
  </div>

    <div class="">
    <%= f.fields_for :colors, @referencia_articulo.colors.build do |color| %>
      <%= color.select :color_referencia, options_for_select(colores, color.object.color_referencia) %>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
