<h1>Listing referencia_articulos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre referencia</th>
     
      <th>Valor</th>
   

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @referencia_articulos.each do |referencia_articulo| %>
      <tr>
        <td><%= referencia_articulo.nombre_referencia %></td>
       
        <td><%= referencia_articulo.valor %></td>
      

        <td><%= link_to 'Show', articulo_referencia_articulo_path(@articulo, referencia_articulo) %></td>
        <td><%= link_to 'Edit', edit_articulo_referencia_articulo_path(@articulo, referencia_articulo) %></td>
        <td><%= link_to 'Destroy', articulo_referencia_articulo_path(@articulo, referencia_articulo), :method => :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar una nueva Referencia articulo', new_articulo_referencia_articulo_path %>

<%= link_to "Ir a pagina principal de Marcas", usuario_marcas_path(@usuario_actual)%>

<%= link_to "Regresar a la marca #{@marca}", marca_articulos_path(@marca)%> 
