<h1>Listing referencia_articulos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre referencia</th>
      <th>Cantidad</th>
      <th>Valor</th>
      <th>Talla</th>
      <th>Articulo</th>
      <th>Caja</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @referencia_articulos.each do |referencia_articulo| %>
      <tr>
        <td><%= referencia_articulo.nombre_referencia %></td>
        <td><%= referencia_articulo.cantidad %></td>
        <td><%= referencia_articulo.valor %></td>
        <td><%= referencia_articulo.talla %></td>
        <td><%= referencia_articulo.articulo %></td>
        <td><%= referencia_articulo.caja %></td>
        <td><%= link_to 'Show', referencia_articulo %></td>
        <td><%= link_to 'Edit', edit_referencia_articulo_path(referencia_articulo) %></td>
        <td><%= link_to 'Destroy', referencia_articulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Referencia articulo', new_referencia_articulo_path %>
