<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre referencia:</strong>
  <%= @referencia_articulo.nombre_referencia %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @referencia_articulo.cantidad %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @referencia_articulo.valor %>
</p>

<p>
  <strong>Talla:</strong>
  <%= @referencia_articulo.talla %>
</p>

<p>
  <strong>Articulo:</strong>
  <%= @referencia_articulo.articulo %>
</p>

<p>
  <strong>Caja:</strong>
  <%= @referencia_articulo.caja %>
</p>

<%= link_to 'Edit', edit_referencia_articulo_path(@referencia_articulo) %> |
<%= link_to 'Back', referencia_articulos_path %>
