<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre referencia:</strong>
  <%= @referencia_articulo.nombre_referencia %>
</p>

<p>
  <strong>Color:</strong>
  <%= @referencia_articulo.color %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @referencia_articulo.valor %>
</p>

<p>
  <strong>Talla:</strong>
  <%= @referencia_articulo.talla %>
</p>





<%= link_to 'Edit', edit_articulo_referencia_articulo_path(@articulo, @referencia_articulo) %> |
<%= link_to 'Back', articulo_referencia_articulos_path %>
